.advantages__header {
  position: relative;
  margin: 16px 18px;
  text-align: center;
}

@media (max-width: 767px) {
  .advantages__header::after {
    content: "";
    background-image: url("../img/decoration-bottom.svg");
    position: absolute;
    width: 320px;
    height: 37px;
    left: -18px;
    bottom: -52px;
  }

  .advantages__slogan {
    padding: 0 10px 0 10px;
  }

  br {
    display: none;
  }
}

.advantages__slogan {
  margin-bottom: 35px;
  margin-top: 35px;
  font-style: normal;
}

.advantages__number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 17px;
}

.advantages__item--city {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__item--bridge {
  background-color: #81b3d2;
  color: #ffffff;

  @media (max-width: 767px) {
    .advantages__text-wrapper {
      padding: 37px 18px;
    }
  }
}

.advantages__item--grey {
  background-color: #eeeeee;
  position: relative;
  width: 268px;
  padding: 25px 26px 25px 26px;

  .advantages__description {
    color: #333333;
  }

  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__example-list {
  margin: 0;
  padding: 23px 18px 46px 18px;
  list-style-type: none;
  display: grid;
  gap: 25px;
  background-color: #ffffff;
  color: #000000;
}

.advantages__title {
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
}

.advantages__description {
  text-align: center;
  margin: 0;
}

.advantages__text-wrapper {
  padding: 70px 18px 39px 18px;
  text-align: center;
}

.advantages__item--grey:nth-last-child(1) {
  padding-bottom: 27px;
}

@media (max-width: 767px) {
  .advantages__item--grey:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    left: 20px;
    bottom: 0;
  }

  .advantages__item--grey {
    .advantages__description {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .advantages__header {
    margin-bottom: 55.5px;
    margin-top: 47.5px;
  }

  .advantages__slogan {
    margin: 48px 125px 30px 123px;
  }

  .advantages__example-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 256px 256px 256px;
    gap: 0;
    background-color: #ffffff;
    color: #000000;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item--city {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }

  .advantages__text-wrapper {
    width: 196px;
    padding: 53px 30px 30px;

    .advantages__title {
      padding-left: 19px;
      padding-right: 19px;
    }
  }

  .advantages__item--bridge {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .advantages__text-wrapper {
      order: 1;

      .advantages__title {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

  .advantages__item--grey {
    width: 190px;
    padding: 42px 33px 42px 33px;
    text-align: center;

    .advantages__title {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .advantages__number {
    margin-bottom: 25px;
  }

  @media (max-width: 1199px) {
    .advantages__item--grey:nth-child(4) {
      .advantages__description {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .advantages__item--grey {
    width: 300px;
    padding: 52px 50px;
  }

  .advantages__text-wrapper {
    width: 300px;
    padding: 52px 50px;

    .advantages__description {
      padding-left: 10px;
      padding-right: 10px;
    }

    .advantages__title {
      padding-left: 75px;
      padding-right: 74px;
    }
  }

  .advantages__item--bridge {
    width: 1200px;

    .advantages__text-wrapper {
      .advantages__description {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  .advantages__header {
    margin: 0;
    margin-bottom: 44px;
    margin-top: 59px;
  }

  .advantages__slogan {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 340px;
    padding-right: 340px;
  }

  .advantages__intro {
    padding-left: 300px;
    padding-right: 300px;
  }

  .advantages__item--city {
    width: 1200px;
  }
}
