.advantages__item--city {
  background-color: #81B3D2;
  color: #ffffff;
}

.advantages__example-list {
  background-color: #ffffff;
  color: #000000;
}

.example-list__description {
  color: #333333;
}

.advantages__item--bridge {
  background-color: #81B3D2;
  color: #ffffff;
}

.advantages__item--grey {
  background-color: #EEEEEE;
  .advantages__description {
    color: #333333;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 38px;
}

.advantages__example-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__header {
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 32px;
}

.advantages__slogan {
  margin-bottom: 35px;
}
