.attractions__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

.attractions {
  border: none;
}

.attractions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
