.attractions__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

.attractions {
  border: none;
}

.attractions__list {
  .list-reset()
}

@media (min-width: 768px) {

  .attractions {
    text-align: center;
    width: 480px;
    margin: 0 auto;
  }

  .attractions__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 16px;
    justify-items: start;
    margin-bottom: 42px;
  }
}

@media (min-width: 1200px) {
  .attractions__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 64px;
    width: 960px;

  }
}
