.attractions__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.attractions__title {
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 2px;
}

.attractions {
  border: none;
}

.attractions__list {
  .list-reset();
  padding-left: 20px;
  padding-right: 20px;
}

.attractions__item:not(:last-child) {
  margin-bottom: 16px;
}

.attractions__item {
  position: relative;
}

@media (max-width: 767px) {
  .attractions__item:nth-last-child(1)::after {
    content: "";
    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
    position: absolute;
    bottom: -24px;
    left: 0;
    margin-left: -20px;
  }
}

.attractions__lable {
  position: relative;
  display: block;
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.attractions__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.attractions__input[type="checkbox"]:checked + .attractions__mark::after {
  content: "";
  position: absolute;
  mask-image: url("../img/sprite.svg#tick");
  background-repeat: no-repeat;
  background-color: #333333;
  width: 22px;
  height: 16px;
  top: 15px;
  left: 12px;
}

.attractions__item:hover {
  .attractions__mark {
    background-color: #e5e5e5;
  }
}

.attractions__item:active {
  .attractions__input[type="checkbox"]:checked + .attractions__mark::after {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

@media (min-width: 768px) {
  .attractions {
    text-align: center;
    margin: 0 auto;
  }

  .attractions__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
    justify-items: start;
    margin-bottom: 0;
    padding-left: 144px;
    padding-right: 144px;
  }

  .attractions__item:not(:last-child) {
    margin-bottom: 0;
  }

  .attractions__title {
    padding-left: 230px;
    padding-right: 230px;
  }
}

@media (min-width: 1200px) {
  .attractions__list {
    display: grid;
    grid-template-columns: 172px 170px 153px 184px;
    gap: 64px;
    padding-left: 164.5px;
    padding-right: 164.5px;
  }

  .attractions__title {
    padding-left: 447px;
    padding-right: 447px;
    margin-bottom: 59px;
  }

  .attractions {
    .feedback__legend-wrapper::before {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      background-color: #e5e5e5;
      left: 120px;
      top: 50%;
    }

    .feedback__legend-wrapper::after {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      background-color: #e5e5e5;
      right: 120px;
      top: 50%;
    }
  }
}
