.button {
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;

  &:active {
    .active;
  }

  &:hover {
    background-color: #669ec0;
  }
}

button:disabled {
  background-color: #e5e5e5;
}

.button[disabled],
.button[disabled]:hover {
  background-color: #e5e5e5;
  cursor: auto;
}

.button[disabled]:active {
  color: #ffffff;
}
