.contacts__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  padding-right: 80px;
  border: none;
  width: 184px;
  background-color: #f2f2f2;
}

.contacts__input[type="tel"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.contacts__input[type="email"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.contacts__item {
  position: relative;
}

.contacts__title {
  text-align: center;
  margin-bottom: 19px;
}

@media (max-width: 767px) {
  .contacts__item:nth-last-child(1)::after {
    content: "";
    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
    position: absolute;
    bottom: -34px;
    left: 0;
    margin-left: -20px;
  }
}

.contacts__item--email::before {
  content: "";
  background-image: url("../img/letter-icon.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
  width: 18px;
  height: 18px;
  padding: 20px;
  bottom: 0;
  right: 0;
}

.contacts__item--phone::before {
  content: "";
  background-image: url("../img/phone-icon.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
  width: 18px;
  height: 18px;
  padding: 20px;
  bottom: 0;
  right: 0;
}

.contacts {
  border: none;
}

.contacts__list {
  .list-reset();
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 16px;
}

.contacts__lable {
  display: block;
  padding-left: 16px;
  height: 21px;
}

@media (min-width: 768px) {
  .contacts__list {
    display: grid;
    grid-template-columns: 295px;
    gap: 16px;
    padding: 0;
    margin-bottom: 63px;

    .contacts__item {
      margin-bottom: 0;
    }
  }

  .contacts__input {
    width: 199px;
  }

  .contacts__title {
    padding: 0;
    margin-bottom: 27px;
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .contacts__list {
    display: grid;
    grid-template-columns: 430px;
  }

  .contacts__input {
    width: 334px;
  }
}
