.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  svg {
    margin-left: 12px;
  }
}

.copyright {

}
