.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  svg {
    margin-left: 12px;
  }
  &:hover {
    color: #81B3D2;
  }
  &:active {
    color: #B3B3B3;
  }
}


