.example-list__title {
  margin: 0;
}

.example-list__description {
  color: #333333;
}

.example-list__item {
  padding-left: 47px;
}

@media (min-width: 768px) {
  .example-list {
    display: flex;
  }
}
