.feedback__title {
  margin-bottom: 24px;
}

.feedback__note {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #33333399;
  text-align: right;
}

.feedback__wrapper-text {
  margin-top: 37px;
  margin-bottom: 53px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.feedback__full-name {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 64px;
}

.feedback__contacts {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 59px;
}

.feedback__attractions {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 49px;
}

.feedback__impress {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 49px;
}

.feedback__wrapper-emotion {
  margin-top: 24px;
  margin-bottom: 22px;
}

.feedback__wrapper-emotions,
.feedback__button-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.feedback__button {
  display: block;
  padding: 16px 49px;
  text-transform: uppercase;
  margin-bottom: 3px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.feedback__button[type="submit"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (min-width: 768px) {
  .feedback__wrapper {
    width: 648px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    column-gap: 58px;
  }

  .feedback__title {
    margin-bottom: 21px;
  }

  .feedback__wrapper-text {
    .titles {
      font-size: 30px;
    }

    margin-top: 64px;
    margin-bottom: 108px;
    padding-left: 165px;
    padding-right: 165px;
  }

  .feedback__full-name,
  .feedback__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedback__full-name {
    margin-top: 0;
  }

  .feedback__contacts {
    margin-top: 0;
  }

  .feedback__forms {
    .titles {
      margin-bottom: 28px;
    }
  }

  .feedback__attractions,
  .feedback__impress {
    margin-top: 0;
  }

  .feedback__attractions {
    margin-bottom: 42px;
  }

  .feedback__wrapper-emotions {
    padding-left: 60px;
    padding-right: 60px;
  }

  .feedback__button[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .feedback__button {
    margin: 0;
    padding-left: 71px;
    padding-right: 71px;
    align-items: center;
  }

  .feedback__button-wrapper {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  .feedback__note {
    margin-bottom: -8px;
    font-size: 14px;
  }

  .feedback__legend-wrapper {
    position: relative;
  }

  .feedback__legend-wrapper::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #e5e5e5;
    left: 42px;
    top: 50%;
  }

  .feedback__legend-wrapper::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #e5e5e5;
    right: 42px;
    top: 50%;
  }

  .feedback__lable-wrapper {
    position: relative;
    width: 402px;
    padding-left: 123px;
    padding-right: 123px;
  }

  .feedback__lable-wrapper::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #e5e5e5;
    left: 0;
    top: 50%;
  }

  .feedback__lable-wrapper::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #e5e5e5;
    right: 0;
    top: 50%;
  }
}

@media (min-width: 1200px) {
  .feedback__wrapper {
    display: grid;
    width: 960px;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin-left: 120px;
  }

  .feedback__full-name {
    margin-bottom: 72px;
  }

  .feedback__wrapper-text {
    margin-top: 115px;
    margin-bottom: 68px;
    padding-left: 382px;
    padding-right: 382px;
  }

  .feedback__title {
    margin-bottom: 32px;
  }

  .feedback__impress {
    margin-bottom: 73px;

    .impress__title {
      margin-bottom: 45px;
    }
  }

  .feedback__attractions {
    .attractions__title {
      margin-bottom: 60px;
    }
    margin-bottom: 87px;
  }

  .feedback__legend-wrapper {
    position: relative;
  }

  .feedback__legend-wrapper::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    left: 103px;
    top: 50%;
  }

  .feedback__legend-wrapper::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    right: 103px;
    top: 50%;
  }

  .feedback__lable-wrapper {
    position: relative;
    width: 402px;
    padding-left: 280px;
    padding-right: 280px;
  }

  .feedback__lable-wrapper::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    left: 0;
    top: 50%;
  }

  .feedback__lable-wrapper::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    right: 0;
    top: 50%;
  }

  .feedback__button {
    margin: 0;
    padding-left: 101px;
    padding-right: 101px;
    align-items: center;
  }

  .feedback__button-wrapper {
    padding-left: 216px;
    padding-right: 216px;
    width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }
}
