.hero-inner {
  background-color: #81B3D2;
  background: url(../img/hero-decoration-mobile.svg), url(../img/background-hero/back-phone-catalog.jpg);
  height: 158px;
  background-position: bottom, center;
  background-repeat: no-repeat;
  text-align: center;


  @media (min-resolution: 2dppx) {
    background: url(../img/hero-decoration-mobile.svg), url(../img/background-hero/back-phone-catalog@2x.jpg);
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: 768px) {
    height: 290px;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    background-color: #5c412d;
    background: url(../img/decoration-hero-tablet.svg), url(../img/background-hero/back-tablet-catalog.jpg);
    background-position: bottom, center;
    background-repeat: no-repeat;


    @media (min-resolution: 2dppx) {
      background: url(../img/decoration-hero-tablet.svg), url(../img/background-hero/back-tablet-catalog@2x.jpg);
      background-position: bottom, center;
      background-repeat: no-repeat;
      background-size: 768px auto;
    }
  }

  @media (min-width: 1200px) {
    height: 301px;
    background: url(../img/hero-decoration-desk.svg), url(../img/background-hero/back-desktop-catalog.jpg);
    background-position: bottom, center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: url(../img/hero-decoration-desk.svg), url(../img/background-hero/back-desktop-catalog@2x.jpg);
      background-position: bottom, center;
      background-repeat: no-repeat;
      background-size: 1200px auto;
    }
  }
}

.hero-inner__image {
  padding-top: 52px
}

@media (min-width: 768px) {
  .hero-inner__image {
    width: 456.9px;
    height: auto;
    padding: 0;
    padding-top: 95px;
    padding-bottom: 117.4px;
  }
}

@media (min-width: 1200px) {
  .hero-inner__image {
    width: 459.5px;
    height: auto;
    padding: 0;
    padding-top: 101px;
    padding-bottom: 120.2px;
  }
}
