.hero {
  background: url("../img/hero-decoration-mobile.svg"), url("../img/background-hero/back-phone.webp");
  background-position: 0 332px, 0 -1px;
  background-repeat: no-repeat;
  background-color: #81b3d2;
  max-width: 100%;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/hero-decoration-mobile.svg"), url("../img/background-hero/back-phone@2x.webp");
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    background: url("../img/decoration-hero-tablet.svg"), url("../img/background-hero/back-tablet.webp");
    background-position: bottom, center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/decoration-hero-tablet.svg"), url("../img/background-hero/back-tablet@2x.webp");
      background-position: bottom, center;
      background-repeat: no-repeat;
      background-size: 768px auto;
    }
  }

  @media (min-width: 1200px) {
    background: url("../img/hero-decoration-desk.svg"), url("../img/background-hero/back-desktop.webp");
    background-position: bottom, center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/hero-decoration-desk.svg"), url("../img/background-hero/back-desktop@2x.webp");
      background-position: bottom, center;
      background-repeat: no-repeat;
      background-size: 1200px auto;
    }
  }
}

.hero__image {
  padding-top: 90px;
  padding-bottom: 85px;
  padding-left: 19px;
  padding-right: 19px;
}

@media (min-width: 768px) {
  .hero__image {
    width: 461px;
    height: auto;
    padding: 0;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}

@media (min-width: 1200px) {
  .hero__image {
    width: 459.5px;
    height: auto;
    padding: 0;
    padding-top: 79px;
    padding-bottom: 90px;
  }
}
