.impress__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.impress__title {
  text-align: center;
  margin-bottom: 20px;
}

.impress {
  border: none;
}

.impress__list {
  .list-reset();
  padding-left: 20px;
  padding-right: 20px;
}

.impress__item:not(:last-child) {
  margin-bottom: 16px;
}

.impress__item {
  position: relative;
}

@media (max-width: 767px) {
  .impress__item:nth-last-child(1)::after {
    content: "";
    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
    position: absolute;
    bottom: -24px;
    left: 0;
    margin-left: -20px;
  }
}

.impress__lable {
  position: relative;
  display: block;
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.impress__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.impress__input[type="radio"]:checked + .impress__mark::after {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: "";
  background-color: #333333;
  bottom: 15px;
  left: 15px;
}

.impress__item:hover {
  .impress__mark {
    background-color: #e5e5e5;
  }
}

.impress__item:active {
  .impress__input[type="radio"]:checked + .impress__mark::after {
    background-color: rgba(51, 51, 51, 0.3);
  }
}


@media (min-width: 768px) {
  .impress {
    text-align: center;
  }

  .impress__list {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 16px;
    justify-items: start;
    padding-left: 96px;
    padding-right: 96px;
  }

  .impress__item:not(:last-child) {
    margin-bottom: 0;
  }

  .impress__title {
    padding-left: 230px;
    padding-right: 230px;
  }
}

@media (min-width: 1200px) {
  .impress__list {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    gap: 28px;
    width: 896px;
    padding-left: 172px;
    padding-right: 132px;
  }

  .impress__lable {
    padding-left: 62px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .impress__title {
    padding-left: 447px;
    padding-right: 447px;
  }
}
