.main-container__map iframe {
  border: none;
  display: block;
}


@media (min-width: 768px) {
  .main-container__map iframe {
    border: none;
    display: block;
    width: 100%;
  }
}

@media (min-width: 1200px) {

}
