.hashtag__link {
  font-size: 21px;
  color: #000000;

}

.main-footer__wrapper {
  padding-top: 41px;
  padding-bottom: 33px;
}

.main-footer__hashtag {
  text-align: center;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .main-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
