.modal-error__close-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 18px 77px 14px 78px;
}

.modal-error {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  z-index: 3;
}

.modal-error__container {
  position: relative;
  margin: auto;
  margin-top: 30%;
  padding: 45px 42px 35px 41px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-error__title {
  margin: 0;
  margin-bottom: 25px;
}

.modal-error__text {
  display: block;
  margin-bottom: 28px;
}

.modal-error--close {
  display: none;
}

.modal-sending {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  z-index: 3;
}

.modal-sending__container {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  width: 320px;
  height: 323px;
}

.modal-sending__title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 24px;
}

.modal-sending__text {
  margin: 0;

  br {
    display: block;
  }
}

.modal-sending__wrapper {
  padding: 20px;
  background-color: #f2f2f2;
}

.modal-sending__text-wrapper {
  padding: 44px 39px 45px 37px;
}

.modal-sending__close-button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  padding: 16px 62px 14px 60px;
  width: 280px;
}

.modal-sending--close {
  display: none;
}

@media (min-width: 768px) {
  .modal-error__container {
    padding: 38px 47px 49px 46px;
    width: 307px;
    margin: auto;
    min-height: 260px;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  }

  .modal-error__title {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-error__text {
    margin-bottom: 55px;
  }

  .modal-sending__container {
    width: 640px;
    height: 347px;
    margin-bottom: 16%;
  }

  .modal-sending__wrapper {
    padding: 44px 91px;
  }

  .modal-sending__close-button {
    padding: 18.5px 140px 13.5px 139px;
    width: 458px;
    font-size: 21px;
  }

  .modal-sending__text-wrapper {
    padding: 53px 99px 51px 97px;
  }

  .modal-sending__title {
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 26px;
  }
}


@media (min-width: 1200px) {
  .modal-error__container {
    padding: 48px 47px 49px 46px;
    margin: auto;
    min-height: 250px;
  }

  .modal-error__text {
    margin-bottom: 45px;
  }

  .modal-error__close-button {
    margin-bottom: 0;
  }

  .modal-sending__container {
    margin-bottom: 10%;
  }
}
