.page__body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  width: 320px;
}

@media (min-width: 768px) {
  .page__body {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .page__body {
    min-height: 100%;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 1200px;
  }
}
