.search-hotel__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-hotel__button {
  font-size: 21px;
}

.search-hotel__wrapper {
  margin-bottom: 49px;
  text-align: center;
}

@media (min-width: 768px) {
  .search-hotel__title {
    font-size: 30px;
  }
}
