.social__list {
  .list-reset();
  display: flex;
  padding: 30px 82px;
  width: 156px;
  justify-content: space-between;
}


@media (min-width: 768px) {
  .social__list {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .social__item {
    width: 48px;
    height: 48px;
  }
}
